<footer id="footer">
  <div class="container">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column flex-lg-row justify-content-lg-end">
        <ul
          class="
            d-flex
            flex-column
            align-items-center
            flex-lg-row
            list-inline
            mr-lg-4
          "
        >
          <li class="list-inline-item px-1">
            <a href="#home" class="nav-link text-white">MAIN</a>
          </li>
          <li class="list-inline-item px-1">
            <a href="#about" class="nav-link text-white">ABOUT</a>
          </li>
          <li class="list-inline-item px-1">
            <a href="#features" class="nav-link text-white">GAME FEATURES</a>
          </li>
          <li class="list-inline-item px-1">
            <a href="#req" class="nav-link text-white">SYSTEM REQUIREMENTS</a>
          </li>
          <li class="list-inline-item px-1">
            <a href="#score" class="nav-link text-white">QUOTES</a>
          </li>
        </ul>
        <ul
          class="list-inline d-flex justify-content-around align-self-lg-center"
        >
          <li class="list-inline-item pl-lg-4">
            <span><i class="fab fa-facebook-f text-white"></i></span>
          </li>
          <li class="list-inline-item pl-lg-4">
            <span><i class="fab fa-twitter text-white"></i></span>
          </li>
          <li class="list-inline-item pl-lg-4">
            <span><i class="fab fa-youtube text-danger"></i></span>
          </li>
          <li class="list-inline-item pl-lg-4">
            <span><i class="fab fa-twitch text-white"></i></span>
          </li>
        </ul>
      </div>
      <hr class="w-100" />
      <div
        class="
          footer-text
          d-flex
          flex-column flex-lg-row
          justify-content-lg-between
          align-items-center
          pb-4
        "
      >
        <p>
          <small class="text-muted"
            >© 2018 Your Games, Inc. All Rights Reserved</small
          >
        </p>
        <p class="text-white text-center font-weight-bold">
          <span class="d-block d-lg-inline">PRIVACY POLICY</span> |
          <span class="d-block d-lg-inline">TERMS OF SERVICES</span>
          | <span class="d-block d-lg-inline">CODE OF CONDUCT</span>
        </p>
      </div>
    </div>
  </div>
</footer>

