<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-custom">
  <div class="container">
    <a class="navbar-brand mr-5" href="/">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler" role="button"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-lg-5">
        <a class="nav-link ml-lg-4" href="/"
          >HOME<span class="sr-only">(current)</span></a
        >
        <a class="nav-link ml-lg-4" href="/">WORK</a>
        <a class="nav-link ml-lg-4" href="/">CONTACT</a>
        <a class="nav-link ml-lg-4" href="/">ABOUT ME</a>
      </div>
      <div class="navbar-nav ml-lg-auto">
        <a class="nav-link" href="/register">SIGN UP</a>
        <a class="nav-link ml-lg-4" href="/login">LOGIN</a>
      </div>
    </div>
  </div>
</nav>
