<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/admin/homepage">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Information
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/usergame" aria-expanded="true" >
            <span>User Game</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/userbiodata" aria-expanded="true" >
            <span>User Biodata</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/userhistory" aria-expanded="true">
            <span>User History</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->