<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/css/game.css" />
    <script src="/frontend/js/script.js" defer></script>
  </head>
  <body>
    <header>
      <a href="/">&lt;</a>
      <img src="/frontend/assets/images/logo.png" alt="logo" />
      <h1>rock paper scissors</h1>
    </header>

    <div class="game-board">
      <section id="player">
        <h1>player 1</h1>
        <div class="selection" id="player-rock">
          <img data-player="rock" src="/frontend/assets/images/batu.png" />
        </div>
        <div class="selection" id="player-paper">
          <img data-player="paper" src="/frontend/assets/images/kertas.png" />
        </div>
        <div class="selection" id="player-scissors">
          <img data-player="scissors" src="/frontend/assets/images/gunting.png" />
        </div>
      </section>

      <section id="result">
        <div class="match"></div>
      </section>

      <section id="computer">
        <h1>Com</h1>
        <div class="selection" id="computer-rock">
          <img data-comp="rock" src="/frontend/assets/images/batu.png" />
        </div>
        <div class="selection" id="computer-paper">
          <img data-comp="paper" src="/frontend/assets/images/kertas.png" />
        </div>
        <div class="selection" id="computer-scissors">
          <img data-comp="scissors" src="/frontend/assets/images/gunting.png" />
        </div>
      </section>
    </div>

    <div class="refresh">
      <a href="javascript:location.reload(true)"
        ><img src="/frontend/assets/images/refresh.png"
      /></a>
    </div>
  </body>
</html>
